<div class='container-fluid'>
  <h4>Login</h4>
  <%= form_for(:sessions, url: login_path) do |f| %>
  <fieldset class="form-group row #{"has-danger" if f.object.errors.include?(:email)}">
    <div class='col-xs-3'>
      <%= f.text_field :email, {class: 'form-control', placeholder: 'Schnipo@Schranke.de'} %>
    </div>
  </fieldset>
  <fieldset class="form-group row #{"has-danger" if f.object.errors.include?(:password)}">
    <div class='col-xs-3'>
      <%= f.password_field :password, {class: 'form-control'} %>
    </div>
  </fieldset>
  <div class='row'>
    <div class='col-lg-2 col-md-2 col-sm-2 col-xs2'>
      <%= f.submit 'Submit', class: 'btn btn-primary btn-success' %>
    </div>
  </div>
  <% end %>
</div>
