Hallo,

die Ausgabenliste '<%= @old_expense_list.name %>' wurde geändert:

<ul>
  <li>Name: <%= @expense_list.name %></li>
  <li>Budget: <%= @expense_list.budget_in_euro %>€</li>
  <li>Beschreibung: <%= @expense_list.description %></li>
</ul>
