<h3>Expense Tracker notification - expense list <%= @expense_list.name %> deleted!</h3>

Attention: The expense list '<%= @expense_list_name %>' has been deleted!

<p>
  Greetings,
  your expense tracker
</p>
