Hallo,

du wurdest von <user> zur Ausgabenliste '<%= @expense_list.name %>' hinzugefügt.
Du erhältst von nun an:

<ul>
  <li>Eine wöchentliche Zusammenfassung der Ausgaben in '<%= @expense_list.name %>'</li>
  <li>Nachrichten über Änderungen an den Listeneigenschaften</li>
</ul>

Eine Zusammenfassung über den aktuellen Stand an Ausgaben findest du unter <Link zur Liste>
