Hallo,

eine neue Ausgabenliste wurde angelegt:

<ul>
  <li>Name: <%= @expense_list.name %></li>
  <li>Budget: <%= @expense_list.budget_in_euro %>€</li>
  <li>Beschreibung: <%= @expense_list.description %></li>
</ul>
