<div class='container-fluid'>
  <div class='panel-group' id='expense-list-panel-group'>
    <% if @expense_lists.any? %>
      <%= render @expense_lists %>
    <% else %>
    <p>There is no expense list yet...</p>
    <% end %>
  </div>
  <div class="row">
    <div class='col-xs-12 col-lg-3 col-md-4'>
      <%= link_to "Create new expense list", new_expense_list_path, {class: 'btn btn-default btn-primary btn-success', id: 'asd'} %>
    </div>
  </div>
</div>
