.container-fluid
  .row
    .panel-group{ id: 'expense-lists' }
      - if @expense_lists.any?
        = render @expense_lists
      - else
        %p There is no expense list yet...
  .row.center
    = link_to 'Create new expense list', new_expense_list_path, remote: true, class: 'btn btn-default btn-primary btn-success create-expense-list-button'
