<div class="container-fluid">
  <% flash.each do |type, message| %>
  <div class="alert alert-<%= bootstrap_class_for(type) %>", id="flash-messages">
    <button class="close btn-xs glyphicon glyphicon-ok glyph-button" data-dismiss="alert"></button>
    <%= message %>
  </div>
  <% end %>
</div>
