/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.glyph-button {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

a {
  color: #23527c;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
body {
  padding-top: 60px;
}
$navbar-blue: #337ab7;
$navbar-gray: #e7e7e7;
$white: #FFF;

.panel-heading {
  background-color: $navbar-blue;
  font: bold;
  font-size: 16px;
  color: $white;
  &:hover {
    background-color: darken($navbar-blue, 10);
  }
}
.testclass {
  background-color: $navbar-blue;
  &:hover {
    background-color: lighten($navbar-blue, 20);
  }
}

.month-row {
  background-color: darken($navbar-gray, 5);
  td {
    font-style: italic;
  }
}

.monthly-totals-row {
  background-color: lighten($navbar-gray, 5);
  font-style: italic;
  border-collapse: separate;
  border-spacing: 0 20px;
  border-style: none;
}

.spacer-row {
  border-collapse: separate;
  border-spacing: 0 20px;
  border-style: none;
}

.panel-group .panel {
    margin-bottom: 15px;
    border-radius: 4px;
    padding-left: 0px;
}

.col-lg-12 {
    padding-left: 0px;
}

.main-container {
  margin-top: 30px;
}

.form_input_error {
  color: #b41b2d;
  font-style: italic;
}
