@import 'colors';

// PANELS
.panel-group .panel {
  margin-bottom: 15px;
  border-radius: 4px;
  padding-left: 0px;
  &:hover {
    border-color: lighten($panel-rose, 20);
    .panel-heading {
      background-color: lighten($panel-rose, 20);
    }
    .panel-footer {
      background-color: lighten($panel-rose, 20);
    }
  }
}

.panel-heading {
  background-color: $navbar-gray;
  font: bold;
  font-size: 16px;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  .expense_list_settings {
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}

.panel-footer {
  font-style: italic;
  margin: 0;
}

.create-expense-list-button {
  font-size: 20px;
}

.center {
  text-align: center;
  padding-top: 20px;
}

// FORM
#expense_list_form_panel {
  .panel {
    margin-bottom: 15px;
    border-radius: 4px;
    padding-left: 0px;
    border-color: rgb(54, 128, 133);
    &:hover {
      cursor: none;
    }
  }
}

// TABLE
.month-row {
  background-color: darken($navbar-gray, 5);
  td {
    font-style: italic;
  }
}

.monthly-totals-row {
  background-color: lighten($navbar-gray, 5);
  font-style: italic;
  border-collapse: separate;
  border-spacing: 0 20px;
  border-style: none;
}

.spacer-row {
  border-collapse: separate;
  border-spacing: 0 20px;
  border-style: none;
}

.current-month-placeholder {
  // border: 2px dashed rgb(246, 218, 218);
  background-color: lighten($table_background, 5);;
}

.table_placeholder {
  padding: 5px;
}


.user-stats-table {
  margin-top: 10px;
}
