<table class='table table-sm'>
  <thead>
    <th>asd</th>
    <th>Date</th>
    <th>Where</th>
    <th>Sum of expenses</th>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
    <td>asd</td>
    <td><%= expense.expense_date %></td>
    <td><%= expense.where %></td>
    <td><%= expense.expenses_in_euro %></td>
    <% end %>
  </tbody>
</table>
